@media only screen and (min-width: 769px) {
    .stats-tabs {
        display: flex;
        justify-content: space-between;
    }
    .stats-tabs:before,
    .stats-tabs:after {
        display: none;
    }
}

#reportrange {
    width: 350px;
}

.hide {
    display: none;
}

.w-160 {
    width: 160px;
}

.mt-10 {
    margin-top: 10px;
}