<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Support</title>
    <meta charset="ut-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="support.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1 class="text-center">Advertiser Support</h1>
    <!-- Load Advertiser Support page onClick -->
    <p class="text-center"><a href="#">Switch to Publisher Support</a><p>
    <div>
      <section class="container">
        <div class="row">
          <div class="col-sm-4">
            <h2 class="topics text-center">Getting Started</h2>
            <ul>

              <li><a href="#">Video: How to Get Started</a></li>
              <li><a href="#">Tips for Success</a></li>
              <li><a href="#">How to do something</a></li>
              <li><a href="#">Some other information here</a></li>
              <li><a href="#">Some other information here</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h2 class="topics text-center">Campaigns</h2>
            <ul>
              <li><a href="#">Why was my campaign rejected?</a></li>
              <li><a href="#">How long does it take for my campaign to be approved?</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h2 class="topics text-center">Pricing</h2>
            <ul>
              <li><a href="#">How much is it to advertise?</a></li>
              <li><a href="#">Do I receive an Invoice?</a></li>
              <li><a href="#">How do I add funds to my acount?</a></li>
              <li><a href="#">What payment options do you accept?</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h2 class="topics text-center">Payments</h2>
            <li><a href="#">Video: How to Get Started</a></li>
            <li><a href="#">Tips for Success</a></li>
              <li><a href="#">How much is it to advertise?</a></li>
              <li><a href="#">Do I receive an Invoice?</a></li>
          </div>
          <div class="col-sm-4">
            <h2 class="topics text-center">Something Else</h2>
            <ul>
              <li><a href="#">Why was my campaign rejected?</a></li>
              <li><a href="#">How long does it take for my campaign to be approved?</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h2 class="topics text-center">Something Else</h2>
            <ul>
              <li><a href="#">How much is it to advertise?</a></li>
              <li><a href="#">Do I receive an Invoice?</a></li>
              <li><a href="#">How do I add funds to my acount?</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <p class="helpForumRedirect text-center">Have a specific question? Check out our <span><a href="#">Help Forum</a></span></p>
      </section>
      <section>
        <p class="articleHelpful text-center">Was this article helpful? <span><a href="#">Yes </a></span>or <span><a href="#">No</a></span></p>
      </section>

    </div>
  </body>
</html>